{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }} {% endblock %}


{% block content %}
<div class="container pt-5 d-flex flex-column min-vh-100">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h4 class="underline">{{ title }}</h4>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-4 col-sm-12 ">
            <img class="img-fluid" src="{{ clubs.image.url }}" alt="Кружок"
                 style="max-width: 100%; height: auto">
        </div>
        <div class="col-md-8 col-sm-12 ">
            <p>
                {{ clubs.full_text|linebreaks }}
            </p>
        </div>
        <div class="col-md-12 col-sm-12">
            <p>
                {{ clubs.disc_text|linebreaks }}
            </p>
            <h1 class="py-5 px-5"><span><i class="fas fa-sun" style="color: #fbff00;"></i></span></h1>
        </div>
    </div>
</div>

{% endblock %}