{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }} {% endblock %}



{% block content %}
<div class="container pt-5 d-flex flex-column min-vh-100">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h4 class="underline">{{ title }}</h4>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
            <a href="#">
                <img class="img-fluid" src="{{ director.image.url }}"
                     title="Директор" alt="Директор" style="max-width: 100%; height: auto">
            </a>
        </div>
        <div class="col-md-12 col-sm-12 ">
            <p>
                {{ director.full_text|safe }}
            </p>
        </div>
    </div>
    <h1 class="py-5 px-5"><span><i class="fas fa-sun" style="color: #fbff00;"></i></span></h1>
</div>
{% endblock %}