{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }} {% endblock %}


{% block content %}
<div class="container pt-5 d-flex flex-column min-vh-100">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h4 class="underline">{{ title }}</h4>
        </div>
    </div>
    <div class="row pt-3">
        {% if forparents.image %}
        <div class="col-md-4 col-sm-12 ">
            <img class="img-fluid" src="{{ forparents.image.url }}" alt="Картинка"
                 style="max-width: 100%; height: auto">
        </div>
        <div class="col-md-8 col-sm-12 ">
            <p>
                {{ forparents.full_text|linebreaks }}
            </p>
        </div>
        {% else %}
        <div class="col-md-12 col-sm-12 text-center">
            <p>
                <strong>{{ forparents.full_text|linebreaks }}</strong>
            </p>
        </div>
        {% endif %}
        <div class="col-md-12 col-sm-12 pt-5">
            {% if forparents.title == 'Условие приема' %}
                <h4>
                    <strong>
                        <span style="color: #008484;">Для оформления ребёнка в детский сад необходимы следующие документы:</span>
                    </strong>
                </h4>
            {% endif %}
            <p>
                {{ forparents.disc_text|linebreaks}}
            </p>
            <h1><span><i class="fas fa-sun" style="color: #fbff00;"></i></span></h1>
        </div>
    </div>
</div>

{% endblock %}